.nav-container{
    height:80px !important;
}

.navbar{
    padding-top:0px !important;

}

.navbar-brand,.nav-link{
    padding-top:20px;
}

.navbar-brand{
    font-size:1.3em;
    font-weight: bold;
}

.nav-link{
    font-size:1.2em;
    margin-left: 10px;
    margin-right:10px;
}

.logo-container{
    display:block;
    width:28px;
    height:28px;
    margin:0px 20px 5px 30px;
    
}

.logo-img{
    width:100%;
}

.btn{
    margin-right: 40px;
    margin-top: 10px;
}

.btn-primary{
    background-color:rgb(62, 77, 97);
    font-weight: bold;
}

.btn-primary:hover{
    background-color:rgb(43, 54, 68);
}